@{
    ViewBag.Title = "Toggle";
}

<h2>Toggle</h2>
<div  id='container'>
    <div id="cc">
    </div>
    <div id="dd">
    </div>
    <ul id="ee" >
    </ul>
    <ul id="ff">
    </ul>
</div>
<script type="text/javascript">
    define('EEye.Page.InitialModel', ['EEye.Models'], function(models) {
        var collection = new models.Collection([{ id: 1, familyname: 'nima' }, { id: 2, familyname: 'shahr', isSelected: true }]);
        var model = new models.Model({ title: 'asdadadad' });

        var initialModel = { model: model, collection: collection };
        return (initialModel);
    });
    require(['jquery', 'underscore', 'EEye.Page.InitialModel', 'EEye.Models', 'EEye.List', 'EEye.CheckBox', 'EEye.ComboBox'], function ($, _, initialModel, models) {
        $(document).ready(function () {
            var views = namespace('EEye.Views');
                     var d = new views.CheckBoxList({ collection: initialModel.collection,                            templateInfo: { textField: 'title' }, itemViewOptions: { templateInfo: { textField: 'familyname' } } });
            $('#container').find('ul').CheckBoxList({ collection: initialModel.collection, model: initialModel.model, templateInfo: { textField: 'title' }, itemViewOptions: { templateInfo: { textField: 'familyname' } } });
            $('#dd').html(d.render().$el);
            d.addValue(d.collection.at(0));
            //d.addSelect(d.collection.at(0));
            //d.addSelect(d.collection.at(1));
            //d.removeSelect(d.collection.at(1));
            //$('#cc').CheckBoxList({ collection: initialModel.collection, model: initialModel.model, templateInfo: { textField: 'title' } });
            
            setTimeout(function() {
                $('#dd').find('ul').CheckBoxList().collection.add({ id: 3, familyname: 'nima222222222222222', isSelected: true });
                initialModel.collection.at(0).set('familyname', 'ddddddddddddddd');
            }, 500);
            
            setTimeout(function () {
                $('#dd').find('ul').data('eeye-instance').collection.at(1).set('familyname', 'JJJJJJJJJJJJJJJJJJJ');
                initialModel.model.set('title', 'hi');
            }, 200);
        });
    });
</script>

